
<p>Hey {{ name }},</p>
<p>Please click below to confirm your email</p>

<p>
    {{#if password}}
    <p>Here is your password: {{ password }}</p>
    {{else}}
    <p>Your password is unchanged</p>
    {{/if}}
    <a href="{{ url }}">Confirm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>